@model MyProfileApp.ViewModels.AddSkillNLanguageViewModel
@{
    ViewBag.Title = "Profie";
}

@if (Model.PersonId == 0)
{
    <h1>New Skills / Language</h1>
}
else
{
    <h1>Edit Skills / Language</h1>
}

@using (Html.BeginForm("SaveSkillNLanguage", "SkillNLanguage"))
{
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Skill)
            @Html.TextBoxFor(m => m.Skill, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Skill)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Language)
            @Html.TextBoxFor(m => m.Language, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Language)
        </div>
    </div>
    @Html.HiddenFor(m => m.SkillId)
    @Html.HiddenFor(m => m.LanguageId)
    @Html.HiddenFor(m => m.PersonId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
