@model MyProfileApp.Models.Education
@{
    ViewBag.Title = "Profie";
}

@if (Model.Id == 0)
{
    <h1>New Education</h1>
}
else
{
    <h1>Edit Education</h1>
}

@using (Html.BeginForm("SaveEducation", "Education"))
{
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Qualification)
            @Html.TextBoxFor(m => m.Qualification, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Qualification)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Institute)
            @Html.TextBoxFor(m => m.Institute, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Institute)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Score)
            @Html.TextBoxFor(m => m.Score, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Score)
        </div>
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PersonId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
