@model MyProfileApp.Models.Training
@{
    ViewBag.Title = "Profie";
}

@if (Model.Id == 0)
{
    <h1>New Training</h1>
}
else
{
    <h1>Edit Training</h1>
}

@using (Html.BeginForm("SaveTraining", "Training"))
{
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Subtitle)
            @Html.TextBoxFor(m => m.Subtitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Subtitle)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PersonId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
